# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
env/
venv/

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# IDE configs
.idea/

# Logs
*.log

# Coverage reports
htmlcov/
.coverage

videos/

reports/